@using System.Configuration
@{
    ViewBag.Title = PasswordChangeConfigSection.Configuration.Branding.Header;
}

<div class="form-container">
    <fieldset>
        <section>
            <b class="error">
                <i class="fas fa-exclamation-circle"></i> Too many requests
            </b>
        </section>
    </fieldset>
</div>