@{
    ViewBag.Title = "Home Page";
}

@model Lithnet.ActiveDirectory.PasswordChange.Web.Models.PasswordChangeRequestModel

    <h5>@Resources.Success.SuccessTitle</h5>
    <div class="alert alert-success" role="alert">
        <i class="fas fa-check"></i> @Resources.Success.SuccessMessage
    </div>
    
    <a href="javascript:window.close()" title="Close this window" class="btn btn-info">Close this window</a>

