@{
    ViewBag.Title = PasswordChangeConfigSection.Configuration.Branding.Header;
}

@model Lithnet.ActiveDirectory.PasswordChange.Web.Models.PasswordChangeRequestModel

<h5>@Resources.Success.SuccessTitle</h5>
<div class="alert alert-success" role="alert">
    <i class="fa fa-check"></i> @Resources.Success.SuccessMessage
</div>