<p>All passwords are checked against a database of 600 million stolen passwords. If you try and use a password that is found in this database, it will be rejected.</p>
                <ul>
                    <li>
                        Passwords must not contain your username or any part of your name.
                    </li>
                    <li>
                        Passwords that are at least 13 characters long do not require any special characters or numbers.
                    </li>
                    <li>
                        Passwords that are less than 13 characters require at least 3 of the following 4 categories of characters:
                    </li>
                    <li>
                        Uppercase letters
                    </li>
                    <li>
                        Lowercase letters
                    </li>
                    <li>
                        Numbers
                    </li>
                    <li>
                        Symbols
                    </li>
                    <li>
                        The minimum password length is 8 characters.
                    </li>
                </ul>