<ul>
    <li>
        The minimum password length is 8 characters.
    </li>
    <li>
        Passwords that are 13 characters or longer only require lower case letters. Otherwise, you'll need to use at least 3 of the following 4 categories of characters:
        <ul>
            <li>
                Uppercase letters
            </li>
            <li>
                Lowercase letters
            </li>
            <li>
                Numbers
            </li>
            <li>
                Symbols
            </li>
        </ul>
    </li>
    <li>
        It can't be one of the last 24 passwords you have used
    </li>
    <li>
        Passwords must not contain your username or any part of your name.
    </li>
    <li>
        You have to wait 24 hours after changing your password to be able to change it again
    </li>
</ul>