<p>Contact your local Service Desk:</p>

<ul>
    <li>
        <p>
            All Australian campuses
            <ul>
                <li>Students: +61 3 9903 2777</li>
                <li>Staff: +61 3 9905 1777</li>
            </ul>
        </p>
    </li>
    <li>
        <p>
            Malaysia
            <ul>
                <li>Telephone: +60 3 551 46200</li>
            </ul>
        </p>
    </li>
    <li>
        <p>
            South Africa
            <ul>
                <li>Telephone: +27 11 950 4077</li>
            </ul>
        </p>
    </li>
</ul>
